// variables

$primary-color: darkgrey;
$accent-color: hotpink;
$text-color: aliceblue;

// maps (bit like objects - key/value pairs)

$font-weights: (
	"regular": 400,
	"medium": 500,
	"bold": 700,
);

// media query mixin variable

$mobile: 800px;
