// partials
// don't have to put underscore or extension

@import "./resets";
@import "./variables";

body {
	background: $primary-color;
	color: $text-color;
}

// nesting (see p)
// & === parent
// interpolation makes sure & is nested not on its own
// (try with and without and look at difference in css)

.main {
	width: 80%;
	margin: 0 auto;

	#{&}__paragraph {
		font-weight: map-get($font-weights, bold);

		&:hover {
			color: pink;
		}
	}
}
