// partials
// don't have to put underscore or extension
// good for modular components and working in teams

@import "./resets";
@import "./variables";

// functions
// see .main for usage

@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}

// mixin
// see @include in .main
// functions should be used to compute/return values
// mixins should define styles

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin theme($light-theme: true) {
	@if $light-theme {
		background: lighten($primary-color, 100%);
		color: darken($text-color, 100%);
	}
}

@mixin mobile {
	@media (max-width: $mobile) {
		@content;
	}
}

body {
	background: $primary-color;
	color: $text-color;
}

// nesting (see p)
// & === parent
// interpolation makes sure & is nested not on its own
// (try with and without and look at difference in css)

.main {
	@include flexCenter(row);
	width: 80%;
	margin: 0 auto;

	#{&}__paragraph {
		font-weight: weight(bold);

		&:hover {
			color: pink;
		}
	}

	@include mobile {
		flex-direction: column;
	}
}

.light {
	@include theme($light-theme: true);
}
