// partials
// don't have to put underscore or extension
// good for modular components and working in teams

@import "./resets";
@import "./variables";

// functions
// see .main for usage

@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}

body {
	background: $primary-color;
	color: $text-color;
}

// nesting (see p)
// & === parent
// interpolation makes sure & is nested not on its own
// (try with and without and look at difference in css)

.main {
	width: 80%;
	margin: 0 auto;

	#{&}__paragraph {
		font-weight: weight(bold);

		&:hover {
			color: pink;
		}
	}
}
